/* $Id: pages.css,v 1.18.2.3 2010/06/26 17:18:58 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
  padding: 10px 0;
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0 20px 0 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
  margin-top: 15px;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-family: 'IM Fell Great Primer', Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 3em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #3FAAED;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb-wrapper {
  padding: 10px 20px;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  font-size: 0.9166em;
  padding-bottom: 0; /* Undo system.css */
}

.breadcrumb .breadcrumb-separator {
  background: transparent url(../images/icons/fugue-icons/icons/arrow-000-small.png) scroll no-repeat left center;
  margin: 0 2px;
  padding-left: 16px;
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  font-family: /*'IM Fell Great Primer'*/ Arial, Helvetica, "Nimbus Sans L", sans-serif;
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

ul.pager-wrapper /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  padding: 0;
}

.pager-wrapper {
  margin: 1em 0;
}

ul.pager {
  margin: 0;
  padding: 0;
}

.pager-wrapper .pager a /* Each page number in the pager list */ {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #F9F9F9;
  background: -moz-linear-gradient(
    center top,
    #FFFFFF,
    #E0E0E0
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#FFFFFF),
    to(#E0E0E0)
  );
  background-position: 0 0;
  background-repeat: repeat;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: #7C7C7C;
  cursor: pointer;
  height: 2em;
  overflow: visible;
  padding: 0.25em 0.5em 0.25em 0.5em;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
}

.pager-wrapper .pager a:hover {
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  background: -moz-linear-gradient(center top , #FFFFFF, #E5E5E5) repeat scroll 0 0 #EFEFEF;
  border-color: #999;
  box-shadow: 0 0 3px #999;
}

.pager-wrapper .pager li.pager-current {
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 1px 1px #aaa inset;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px #aaa inset;
  background: #F9F9F9;
  background: -moz-linear-gradient(
    center top,
    #E0E0E0,
    #FFFFFF
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#E0E0E0),
    to(#FFFFFF)
  );
  background-position: 0 0;
  background-repeat: repeat;
  border-top: solid 1px #aaa;
  border-right: solid 1px #CCCCCC;
  border-bottom: solid 1px #DDDDDD;
  border-left: solid 1px #C3C3C3;
  border-radius: 2px;
  box-shadow: 0 1px 1px #aaa inset;
  color: #7C7C7C;
  height: 1.5em;
  margin-top: -1px;
  overflow: visible;
  padding: 3px 0.5em;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
}

.pager-wrapper:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}

.pager-wrapper .pager li {
  padding: 0;
}



.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer-wrapper {
  border-top: solid 3px #fff;
  color: #fff;
}

#footer {
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* litecal */
div.litecal .color,
div.litecal .color a:link,
div.litecal .color a:visited {
  color: #fff;
}

div.litecal a.litecal-item {
  color: #fff;
  text-decoration: none;
}
