/* $Id: panels-styles.css,v 1.1.2.1 2009/12/12 15:31:54 johnalbin Exp $ */

/**
 * @file
 * Panels Styling
 */


.pane-news .view-display-id-block_1 .view-content,
.pane-blog .view-display-id-block_3 .view-content {
  background: #EBFBFF;
  margin-bottom: 1em;
  padding: 10px;
}

